:root {
  --header-color: #0a2540;
  --background-color: #e6e8eb;
  --card-color: #f4f6f9;
  --shadow-normal: rgba(0, 0, 0, 0.25);
  --shadow-light: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: Tahoma, Arial, sans-serif;
  direction: rtl;
  background: var(--background-color);
  color: #222;
  line-height: 1.8;
}

header {
  background: var(--header-color);
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

p {
  font-size: 1.75em;
}

header h1 {
  margin: 0;
  font-size: 4em;
}

header span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.9;
}

h2 {
  color: var(--header-color);
  font-size: 2em;
}

.services,
.why {
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.services li,
.why li {
  list-style: none;
  font-size: 1.5em;
  background: #fff;
  margin: 1em 0;
  box-shadow: 0 0.5rem 1rem var(--shadow-light);
  padding: 1.25em 1.5em;
  border-radius: 1em;
  border: 0.2rem solid #ddd;
}

footer {
  background: #e0e0e0;
  text-align: center;
  padding: 15px;
  font-size: 1.25em;
}

main {
  margin: 2rem;
  padding: 2rem;
}
main section {
  box-shadow: 0 0.5rem 1rem var(--shadow-normal);
  margin: 2rem;
  padding: 2rem;
  max-width: 100%;
  background-color: var(--card-color);
  border-radius: 1rem;
  transition: transform 0.5s;
}

.fcontainer {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

section:hover {
  transform: translate(-1.5rem, -2.5rem);
}

.fcontainer section {
  max-width: 35%;
}

.fcontainer #services {
  max-width: 75%;
}
#services h2 {
  text-align: center;
}
.fcontainer #why {
  max-width: 75%;
}
#why h2 {
  text-align: center;
}
